* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.sidebar {
  width: 60px;
  background-color: #eaeaea;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
}

.sidebar i {
  display: block;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
  color: #444;
}

body {
  background-color: #f5f5f5;
}

.layout {
  display: flex;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 30px;
  background-color: #fff;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topbar input {
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.top-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-add {
  background-color: #b25645;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Card de evento */
.event-card {
  background-color: #ccc;
  padding: 30px;
  border-radius: 10px;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.event-header img {
  width: 120px;
  height: 120px;
  border-radius: 6px;
}

.event-description {
  margin-top: 20px;
  line-height: 1.6;
  font-size: 15px;
}
