a{
    font-weight: bold ;
}
nav span{
    font-weight: bold ;

}
img#foto{
    margin: 0% 2%;
}

.topbar {
    color: black;
    text-decoration: none;
    margin-right: 10px;
}

.topbar a{
    color: black;
    text-decoration: none;
}

.sidebar {
    width: 60px;
    background-color: #eaeaea;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0;
}

.sidebar i {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    color: #444;
}

.sidebar a {
    text-decoration: none;
}