.sidebar {
    width: 60px;
    background-color: #eaeaea;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 0;
}

.sidebar i {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 20px 0;
    color: #444;
}

.sidebar a {
    text-decoration: none;
}

.main-content {
    margin-left: 80px;
    padding: 2rem;
}

.filter-buttons .btn {
    margin: 5px;
}